<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login/base.css' %}">
    <title>{% block title%} {%endblock%}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <header class="img_head"></header>



    <section id="mainbody">
        {%block body%}
        {%endblock%}
    </section>


    <footer >
        <span class="foot-env"></span>
    </footer>
    
</body>
</html>